<div id="background" class="background-img">
  <div class="container">
    <div class="row">
      <div class="col-sm container">
        <div id="button1" class='btn-1'>
          <a routerLink="/map">
            <button>ROCK</button>
          </a>
        </div>
        <div id="button2" class='btn-2'>
          <a routerLink="/map">
            <button>REGGAE</button>
          </a>
        </div>
        <div id="button3" class='btn-3'>
          <a routerLink="/map">
            <button>FOLK</button>
          </a>
        </div>
        <div id="button4" class='btn-3'>
          <a routerLink="/map">
            <button>JAZZ</button>
          </a>
        </div>
        <div id="button5" class='btn-3'>
          <a routerLink="/map">
            <button>HHOP</button>
          </a>
        </div>
        <div id="button6" class='btn-3'>
          <a routerLink="/map">
            <button>EDM</button>
          </a>
        </div>
        <div id="button7" class='btn-3'>
          <a routerLink="/map">
            <button>R&B</button>
          </a>
        </div>
        <div id="button8" class='btn-3'>
          <a routerLink="/map">
            <button>POP</button>
          </a>
        </div>

        <button (click)="rockClick()">Rock</button>
        <br/>

    </div>
  </div>
</div>
</div>


<div class="content" *ngIf="currentIframe.active">
    <iframe width="100%" height="300" [src]="currentIframe.code | safe"></iframe>

  </div>