<div id="background" [ngClass]="{'different-background': changeBackground}" [ngClass]="{'pop-background': changePopBackground}"> 
  
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row ">
          <!-- This is my pop button -->
          <div class="col-sm container2">
            <div id="button2" class='btn-3'>
              <button (click)="popClick()">Pop</button>
            </div>
            <!-- This is my Folk button -->
            <div id="button3" class='btn-3'>
              <button (click)="folkClick()">Folk</button>
            </div>
            <!-- This is my Jazz button -->
            <div id="button4" class='btn-3'>
              <button (click)="jazzClick()">Jazz</button>
            </div>
            <!-- This is my Hip-Hop button -->
            <div id="button5" class='btn-3'>
              <button (click)="rapClick()">Hip-Hop</button>
            </div>
            <!-- This is my R&B button -->
            <div id="button7" class='btn-3'>
              <button (click)="rbClick()">R&B</button>
            </div>
            <!-- This is my Rock button -->
            <div id="button8" class='btn-3'>
              <button (click)="rockClick()">Rock</button>
            </div>
          </div>
        </div>
        <!-- This is my iframe -->
        <div class="row">
          <div class="col-12">
            <div class="content" *ngIf="currentIframe.active">
              <iframe width="100%" height="330" [src]="currentIframe.code | safe"></iframe>
              <p>{{currentIframe.desc}}</p>
              <!-- <img [src]="currentIframe.flag" alt=""> -->
            </div>
            <!-- These are my extra divvvvvv's -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="loader" [ngClass]="{'show': loader, 'hide': !loader}">
  <div id="intro">
 <img src="assets/updatedspacing.png" alt=""></div>
  <div class="equalizer"></div>
</div> -->

<!-- <div id="button6" class='btn-3'>
                  <a routerLink="/map">
                    <button>EDM</button>
                  </a>
                </div> -->