#background {
    background-color: black;
    background-size: cover;
    width:100vw;
    height:90vh;
}
 h1 {
     font-size: 20px;
     color: #f9f9f9;
     text-align: center;
     font-family: helvetica;
     font-weight: lighter;
   
 }
.container {
    display: flex;
    justify-content: center;
    padding-top: 170px;
    padding-right: 15px;
}
.container2 {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.btn-3 {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 12px;
}

button:hover {
    background-color: #94ecbe;
}

button {
    background-color: #34403A;
    color: white;
    font-family: helvetica;
    height: 40px;
    length: 10px;
    outline: none;
}

    





